[submodule "Transport"]
	path = Transport
	url = git@github.com:kappelmann/transport-isabelle.git
[submodule "Logger"]
	path = Logger
	url = git@github.com:kappelmann/logger-isabelle.git
[submodule "E_Unification"]
	path = E_Unification
	url = git@github.com:kappelmann/e-unification-isabelle.git
