[submodule "Transport"]
	path = Transport
	url = git@github.com:kappelmann/transport-isabelle.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/kappelmann/logger-isabelle
[submodule "E_Unification"]
	path = E_Unification
	url = https://github.com/kappelmann/e-unification-isabelle
